<!DOCTYPE html>
<html>
    <head>
        <title>{{ post.title }}</title>
    </head>
    <body>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>Author: {{ post.author.username }}</p>
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.author.username }}: {{ comment.content }}
                </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit"> Add Comment </button>
            </form>
        {% else %}
            <p>
                <a href="{% url 'login' %}">Log In </a> to add a comment.
            </p>
        {% endif %}
    </body>
</html>